@model prueba2.Models.trabajadores

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>trabajadores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="trabajadorId" class="control-label"></label>
                <input asp-for="trabajadorId" class="form-control" />
                <span asp-validation-for="trabajadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="identificacion" class="control-label"></label>
                <input asp-for="identificacion" class="form-control" />
                <span asp-validation-for="identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoindetificacion" class="control-label"></label>
                <input asp-for="tipoindetificacion" class="form-control" />
                <span asp-validation-for="tipoindetificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="primernombre" class="control-label"></label>
                <input asp-for="primernombre" class="form-control" />
                <span asp-validation-for="primernombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="segundonombre" class="control-label"></label>
                <input asp-for="segundonombre" class="form-control" />
                <span asp-validation-for="segundonombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="primerapellido" class="control-label"></label>
                <input asp-for="primerapellido" class="form-control" />
                <span asp-validation-for="primerapellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="segundoapellido" class="control-label"></label>
                <input asp-for="segundoapellido" class="form-control" />
                <span asp-validation-for="segundoapellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechadenacimineto" class="control-label"></label>
                <input asp-for="fechadenacimineto" class="form-control" />
                <span asp-validation-for="fechadenacimineto" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
